body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root p:not(:first-of-type) {
    display: flex;
    flex-direction: row;
}

#root p:not(:first-of-type) > *:not(:first-child) {
    margin-left: clamp(5px, .5vw, 20px);
}